@page "/hostcopy"
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp1</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <link href="css/site.css" rel="stylesheet" />
    <script type="text/javascript" src="//ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=ArIi4IW5Y56c0JBEsMeXQre5hOL21qYcokNfwcGMCdiL_1vWVpPgIqQTVdC5vatQ' async defer></script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script>
        var map;
        var directionsManager;
 function GetMap(lat, long)
 {
         var center = {
             lat: '47.64',
             long: '-122.1297',
         };
         if (!map) {
             map = new Microsoft.Maps.Map(document.getElementById('map'), {
                 credentials: 'AhfcZBIh65ppnmacnnsdiowjP9EHxS9o-VS7ppRXjKGwRS6es4f64jPPQWm6VwYY',
                 mapTypeId: Microsoft.Maps.MapTypeId.road,
                 zoom: 12,
                 center: new Microsoft.Maps.Location(center.lat, center.long),
                 enableSearchLogo: false
             });
         }

            //Load the directions module.
            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                //Create an instance of the directions manager.
                if (directionsManager) {
                    directionsManager.clearAll();
                }
                else {
                    directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
                }

                //Create waypoints to route between.
                var seattleWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: 'Current', location: new Microsoft.Maps.Location(center.lat, center.long)  });
                directionsManager.addWaypoint(seattleWaypoint);

                var workWaypoint = new Microsoft.Maps.Directions.Waypoint({ address: 'Destination', location: new Microsoft.Maps.Location(lat, long) });
                directionsManager.addWaypoint(workWaypoint);

                //Specify the element in which the itinerary will be rendered.
                // directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

                //Calculate directions.
                directionsManager.calculateDirections();
            });
        }

        function updateMap(lat, long) {
            document.getElementById("map").src = "https://www.bing.com/maps/embed?h=400&w=500&cp=" + lat + "~" + long +"&lvl=10&typ=d&sty=r&src=SHELL&FORM=MBEDV8"+ "&pushpins=" + lat + "_" + long;
        }
    </script>
</body>
</html>
